@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Doto", sans-serif;

}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(13, 12, 12);
}
body {
    background-color: rgb(13, 12, 12);
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 100vh;            /* full viewport height */
}
#profile {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;  /* centers horizontally */
    justify-content: center;
    text-align: center;   /* centers text */
    height: 100vh;        /* full screen center */
}

#main{
    width: 80%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    
}

#aboutme{
    margin-top: 30px;
    color: white;
    align-items: center;
}
#cta {
    margin-top: 40px;
    /* border: 2px solid white; */
    color: white;
    padding: 10px;

}
#cta button{
    padding: 10px;
}
#cta button:hover{
    background-color: black;
    color: white;
}
#Project-list{
    background-color: grey;
    width: 100%;
    height: 100%;
}